.hero {
  position: relative;

  display: flex;
  align-items: center;
  flex-direction: column;

  height: 580px;
  background: black;
  color: #fff;
}

.hero--white {
  background: #f5f5f7;
  color: black;
}

.hero__textContainer {
  position: relative;
  z-index: 2;
  padding-top: 35px;
  text-align: center;
}

.hero__title {
  font-weight: 500;
  font-size: 36px;
}

.hero__subtitle {
  margin-top: 10px;
  max-width: 360px;
  font-size: 18px;
}

.hero__links {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.hero__imageContainer {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

@media (max-width: 998px) {
  .hero {
    height: 500px;
  }

  .hero__subtitle {
    max-width: 240px;
    margin-bottom: 14px;
  }
}
