.hero {
  position: relative;
  height: 692px;
  background: black;
  color: #fff;
}

.hero--white {
  background: white;
  color: black;
}

.hero__textContainer {
  position: relative;
  z-index: 2;
  padding-top: 45px;
  text-align: center;
}

.hero__title {
  font-size: 56px;
  font-weight: 500;
  margin-bottom: 6px;
}

.hero__subtitle {
  margin-bottom: 19px;
  font-size: 28px;
}

.hero__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.hero__imageContainer {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

@media (max-width: 1068px) {
  .hero {
    height: 650px;
  }
  .hero__textContainer {
    padding-top: 25px;
  }
}

@media (max-width: 998px) {
  .hero {
    height: 500px;
  }
  .hero__textContainer {
    padding-top: 16px;
  }
  .hero__title {
    font-size: 36px;
    margin-bottom: 0;
  }
  .hero__subtitle {
    margin-bottom: 14px;
    font-size: 18px;
  }
}
