.nav {
  background-color: rgba(22, 22, 23, 0.8);
  color: #fff;
  backdrop-filter: saturate(180%) blur(20px);
}

.nav__links {
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.nav__link {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.01em;
  color: rgba(255, 255, 255, 0.8);
}

.nav__links-item {
  display: flex;
  line-height: 1;
}

.nav__links-item--text .nav__link {
  padding: 4px 4px 8px;
}

.nav__logo {
  fill: currentColor;
}

.nav__icon {
  fill: currentColor;
}
